Host github.com
	User git
	IdentityFile ~/.ssh/github.com
Host *
	User yisizawa
	CheckHostIP yes
	ControlMaster auto
	ControlPath ~/.ssh/%r@%n:%p
	ControlPersist 5
	HashKnownHosts no
	PubkeyAcceptedKeyTypes +ssh-ed25519
	HostKeyAlgorithms ssh-ed25519
	VerifyHostKeyDNS no
	Match exec "[ %h != %n -a ! -h ~/.ssh/%h -a -f ~/.ssh/%n ] && ln -s ~/.ssh/%n ~/.ssh/%h || [ -f ~/.ssh/%h ]"
		IdentityFile ~/.ssh/%h
