/*
!/.gitignore
!/.gitconfig
!/.zprofile
!/.tmux.conf
!/.colordiffrc
!/.vim/
!/.ssh/
/.ssh/*
!/.ssh/ssh_config
!/.config/
/.config/*
!/.config/bashrc
!/.config/colordiffrc
!/.config/git/
!/.config/install
!/.config/shell/
!/.config/zsh/
/.config/zsh/.zcompdump
/.config/zsh/.chpwd-recent-dirs
!/.config/tmux/
!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/.keep
!/.local/state/
/.local/state/*
!/.local/state/.keep
