/*
!/.gitignore
!/.zprofile
!/.colordiffrc

!/.vim/
/.vim/.netrwhist

!/.ssh/
/.ssh/*
!/.ssh/ssh_config

!/.config/
/.config/*

!/.config/bash/
!/.config/colordiffrc
!/.config/git/
!/.config/history/
!/.config/install
!/.config/psqlrc
!/.config/shell/
!/.config/tmux/
!/.config/zsh/
/.config/zsh/.zcompdump*
/.config/zsh/.chpwd-recent-dirs
